@import "tailwindcss";
@plugin "daisyui";


@theme {
  --color-brand-orange: #ff7a18;
  --color-brand-pink: #f72585;
  --color-brand-violet: #8b2cff;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: white;
}
